<h1>DBZ Characters</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <h4>List</h4>
    <ul class="list-group">
<!--      <li *ngFor="let character of characters" class="list-group-item">-->
<!--        {{character.name}}-->
<!--      </li>-->
      <li class="list-group-item">Krilin - 500</li>
      <li class="list-group-item">Goku - 10000</li>
    </ul>
  </div>
  <div class="col-md-4">
    <form action="" class="form">
      <h4>Add character</h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="power">Power</label>
        <input type="number" class="form-control mb-2" id="power" name="power" placeholder="Power">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
